<script setup lang="ts">
import { useLocationStore } from "@/stores/location";
import { computed } from "@vue/runtime-core";
import { useForecastStore } from "../../../stores/forecast";
import { ref } from 'vue';
const forecastStore = useForecastStore();
const locationStore = useLocationStore();
forecastStore.fetchForecast();
locationStore.fetchLocation();

const location: any = computed(() => {
    return locationStore.location
})

const current: any = computed(() => {
    return forecastStore.current;
});

const daily: any = computed(() => {
    return forecastStore.daily;
})

const dateTime: Date = new Date();
</script>
<template>
    <section class="text-white px-4 flex flex-col items-center justify-around h-1/2">
        <!-- Location -->
        <div class="w-full flex justify-between">
            <h2 class="font-semibold">{{ location.name }}</h2>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
            </svg>
        </div>

        <!-- Temperature -->
        <div>
            
            <h1 class="font-light text-3xl whitespace-nowrap flex-col justify-center items-center">
                <span class="flex items-center" v-if="current.weather">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{ current.weather[0].main }}</a>
                    <img v-if="current.weather" v-bind:src="'https://openweathermap.org/img/wn/' + current.weather[0].icon + '.png'"  alt="">
                </span>    
                <span v-if="current.temp" class="flex items-center justify-center text-6xl">{{Math.floor(current.temp)}}<span class="text-4xl">°</span></span>
            </h1>
        </div>

        <div class="w-full">
            <div class="text-xs text-gray-400 capitalize">{{ dateTime.toLocaleDateString("fr-BE",{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}}</div>
            <div class="flex justify-between text-xl font-light">
                <div>Aujourd'hui</div >
                <div><span v-if="daily[0]">{{ Math.floor(daily[0].temp.max) }}°</span> <span  v-if="daily[0]" class="text-gray-400">{{ Math.floor(daily[0].temp.min) }}°</span></div>
            </div>
        </div>
    </section>
</template>