
<script setup lang="ts">
    const props = defineProps<{
        data: object,
    }>();

    const time = props.data.dt;
    const date = new Date(time * 1000);
    const options = {weekday: 'long'};
    const day = date.toLocaleDateString('fr-FR', options);
</script>

<template>
    <article class="grid grid-cols-3 min-w-full">
        <div class="capitalize"> {{ day }} </div>
            <div class="flex justify-center">
                <img :src="`http://openweathermap.org/img/w/${props.data.weather[0].icon}.png`" height="28" width="28">
            </div>
            <div class="text-right">{{ Math.round(props.data.temp.max) }}° 
                <span>{{ Math.round(props.data.temp.min) }}°</span>
            </div>
    </article>
</template>

<style></style>
