<script setup lang="ts">
import { computed } from "@vue/runtime-core";
import { useForecastStore } from "./../../../stores/forecast";
import DailyItem from "./DailyItem.vue";
const forecastStore = useForecastStore();
forecastStore.fetchForecast();
const dayDatas = computed(() => {
  return forecastStore.daily;
}); 



</script>

<template>
    
<section class="h-1/4 px-4 text-white flex flex-col justify-around py-2 overflow-scroll md:overflow-hidden">

       <DailyItem v-for="dayData in dayDatas" :key="dayData.id" :data="dayData"/>

</section>
</template>