<script setup lang="ts">
import {computed} from '@vue/runtime-core';
import HourlyItem from './HourlyItem.vue';
import {useForecastStore} from './../../../stores/forecast';


const forecastStore = useForecastStore();
forecastStore.fetchForecast();
const hourlyDatas = computed(() => {
  return forecastStore.hourly;
});
</script>

<template>
    <section class="scroll h-1/4 px-4 border-y border-white flex items-center py-2 text-white text-xl font-light overflow-scroll md:overflow-hidden">
            <HourlyItem  v-for="hourlyData in hourlyDatas" :key="hourlyData.id" :itemForecast="hourlyData"/>        
    </section>
</template>

<style scoped>

</style>

