<script setup lang="ts">
import {computed} from 'vue';

const props = defineProps({
    itemForecast: Object
})

const date = new Date(props.itemForecast.dt * 1000);
const hour = date.getHours();
const minutes = date.getMinutes();

const imgLink = computed(() => {
    return 'http://openweathermap.org/img/wn/' + props.itemForecast.weather[0].icon + '.png';
})

</script>
<template>
    <article class="h-full flex flex-col justify-around mr-3 last:mr-0">
            <div class="text-gray-300">{{ hour + ":" + minutes + "0" }}</div>
            <div class="flex justify-center">
                <img :src="imgLink" alt="{{ props.itemForecast.weather[0].main }}">
            </div>
            <div class="text-center">{{ props.itemForecast.temp.toFixed(0) }}°</div>
    </article>
</template>
<style scoped></style>