<script setup lang="ts">
import { useForecastStore } from "./../../../stores/forecast";
import { computed } from '@vue/runtime-core';
import Current from "./Current.vue";
import Hourly from "./Hourly.vue";
import Daily from "./Daily.vue";
const forecastStore = useForecastStore();
forecastStore.fetchForecast();
const currentDatas: any = computed(() => {
    return forecastStore.current;
});


</script>
<template>
  <main class="bg-cover bg-no-repeat h-screen" v-if="currentDatas.weather" :style="{ backgroundImage: 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/background_images/' + currentDatas.weather[0].icon + '.jpg)'}">
      <!-- ===== CURRENT ===== -->
      <Current/>

      <!-- ===== HOURLY ===== -->
      <Hourly/>

      <!-- ===== DAILY ===== -->
      <Daily/>
  </main>
</template>
<style></style>
