<script setup lang="ts">
import { computed, ref } from "@vue/runtime-core";
import WeatherApp from "./components/eafc/weatherApp/WeatherApp.vue";
import Loader from "./components/eafc/weatherApp/Loader.vue";
import { useForecastStore } from "./stores/forecast";
import { useLocationStore } from "./stores/location";

const locationStore = useLocationStore();
const forecastStore = useForecastStore();

locationStore.fetchLocation();
forecastStore.fetchForecast();

const location = computed(() => {
  return locationStore.location;
});

const forecast = computed(() => {
  return forecastStore.forecast;
});
</script>

<template>
  <div v-if="forecastStore.loader">
    <Loader />
  </div>
    <WeatherApp />
</template>

<style lang="postcss" scoped></style>
